/* https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* https://blog.hubspot.com/website/css-fade-in */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


html *
{
  font-family: Monaco ;
}

body {
  background-image: url("https://cdn11.bigcommerce.com/s-whvhnri10h/products/1261/images/22699/apiqngsuh__49943.1644575007.386.513.jpg?c=2");
  background-color: white;
  background-repeat: no-repeat, repeat;
  background-position: center; 
  background-attachment: fixed;
 }

#main-content {
  margin: auto;
  text-align: center;

  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
}

.greeting {
  background-color: white;
  text-align: center;
  font-size: 22px;
  width: 100%;
  height: 75px;
}

.directions {
  font-size: 14px;
  background-color: lightblue;
  width: 50%;
  text-align: justify;
  margin: auto;
  padding: 10px;
}

.display-options {
  height: 75%;
  width: 75%;
  font-size: 12px;
  font-family: Monaco;
  margin: auto;
  text-align: center;
  color: rgb(99, 179, 130);
}

#play-btn {
  background-color: rgb(130, 238, 171);
}

button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover, .submit:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24);
}

.button span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:active, .submit:active {
  box-shadow:1 3px #666;
  transform: translateY(1px);
}

/* for Submit Button Player's Name Form */
.submit  {
  border: none;
  background-color: lightblue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.add-player-form {
  animation: .25s ease-out 0s .5 slideInFromTop;
}

/* for Player's Name form */
input[type=text], select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* for all tables */
table {
  display: flex;
  justify-content: center;
}

/* full winner's board */
.winners-board {
  border-collapse: collapse;
  /* width: 50%; */
  /* width: 200px; */
  align-self: center;
  /* display: flex; */
  justify-content: center;
  table-layout: fixed
}

/* winner's headers */
.winners-board th {
  font-size: 16px;
  text-align: center;
  background-color: lightblue;
  padding: 10px;
  opacity: 0.9;
}

/* winner's data / cell */
.winners-board td {
  font-size: 14px;
  width: 200px;  
  padding: 8px;
  opacity: 0.9;
}

/* every other winner's column row */
.winners-board tr:nth-child(even){
  background-color: #f2f2f2;
  opacity: 0.9;
}

/* First Winners Column */
/* .winners-board td:nth-child(1) { */
.num {
  width: 135px;
  /* background: red; */
  }

/* Second Winners Column */
/* .winners-board td:nth-child(2) { */
.player-name {
  width: 425px;
  text-align: left;
  /* background: orange; */
}

/* Third Winners Column */
/* .winners-board td:nth-child(3) { */
.move-count  {
  width: 135px;
  /* background: yellow; */
}

/* for Tiles */
.peg {
  height: 75px;
  width: 75px;
  background-color: violet;
  border-radius: 50%;
  border: none;
  display: inline-block; 
  position:relative;
  margin: auto;
  text-align: center;
  padding: 7px;
  animation: .5s ease-out 0s .5 slideInFromTop;
}

.pegSelected {
  background-color: yellow;
}
