.peg {
    height: 75px;
    width: 75px;
    background-color: violet;
    border-radius: 50%;
    border: none;
    display: inline-block; 
    position:relative;
    margin: auto;
    text-align: center;
    padding: 7px;
  }

  table {
    /* align-self: center; */
    display: flex;
    justify-content: center;
  }

  /* .triangle {
    margin: 0 auto;
    position:absolute; top:25px; left: 25%; 
    opacity: 0.5;
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 350px solid pink;
  }
 */

 .directions {
   background-color: lightblue;
   height: 75%;
   width: 75%;
   text-align: center;
   margin: auto;
 }


#main-content {
  text-align: center;
}


.greeting {
  text-align: center;
  font-size: 22px;
}
